body {
  margin: 0;
  font-family: "Kreon", serif;
}

.header {
  background-image: url("images/fondpage.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

/*images haut*/
.topimages {
  display: flex;
  justify-content: space-between;
}

.croix1 {
  justify-content: space-between;
  width: 40px;
  height: 40px;
  margin-top: 50px;
  margin-left: 50px;
}

.jus {
  justify-content: space-between;
  width: 8%;
  height: 8%;
  margin-top: 80px;
  margin-right: 65px;
  rotate: -14deg;
}

/*centre page*/
@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

.nomphoto {
  display: flex;
  justify-content: space-between;
}
.prenom {
  justify-content: space-between;
  font-size: 80px;
  font-weight: 300;
  color: #d9d9d9;
  margin-left: 250px;
}

/* .nom {
  justify-content: 35%;
  font-size: 80px;
  font-weight: 900;
  color: #d9d9d9;
} */

.photo {
  position: relative;
}

.photoid {
  justify-content: space-between;
  height: 300px;
  width: 300px;
  margin-right: 400px;
  border-radius: 1%;
}
/* .contour {
  border: solid;
  border-color: rgb(62, 12, 225);
  border-radius: 1%;
  border-width: 4px;
  height: 300px;
  width: 300px;
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: -2;
} */

/*bas de page*/
.basimage {
  display: flex;
  justify-content: space-between;
}

.gelly {
  justify-content: space-between;
  width: 8%;
  height: 8%;
  margin-top: 50px;
  margin-left: 65px;
  rotate: -14deg;
}

.croix2 {
  justify-content: space-between;
  width: 40px;
  height: 40px;

  margin-left: 1150px;
  margin-bottom: 30px;
}

/*2EME PAGE*/

.projets {
  background-color: #1e1e1e;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*haut de page*/
.chattexte {
  display: flex;
  justify-content: space-between;
}
.chat {
  justify-content: space-between;
  width: 15%;
  height: 15%;
  margin-top: 140px;
  margin-left: 50px;
}
.texteprojet {
  justify-content: 30%;
  font-size: 80px;
  font-weight: 300;
  color: #d9d9d9;
  margin-top: 200px;
  margin-right: 70px;
}
/* carré du haut */
.Gcarre {
  justify-content: space-between;
  background-image: url(images/maquette1.png);
  width: 420px;
  height: 420px;
  background-size: 420px 420px;
  background-repeat: no-repeat;
  margin-top: 70px;
  margin-left: 90px;
  position: relative;
  transition-duration: 2s;
  border-radius: 2px;
}
.Gcarre:hover {
  filter: blur(2px);
}

/* carré du bas */
.carrebas {
  display: flex;
  justify-content: space-between;
}
.dauphin1 {
  justify-content: space-between;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-left: 115px;
  margin-top: 50px;
  rotate: 10deg;
}
.exemple5 {
  background-image: url(images/clip.webp);
  justify-content: space-between;
  width: 210px;
  height: 210px;
  margin-top: 10px;
  margin-left: 213px;
  margin-bottom: 50px;
  transition-duration: 2s;
  border-radius: 2px;
}
.exemple5:hover {
  filter: blur(2px);
}
.exemple6 {
  background-color: #636363;
  justify-content: space-between;
  width: 210px;
  height: 210px;
  margin-top: 10px;
  margin-right: 2px;
  margin-bottom: 50px;
  transition-duration: 2s;
  border-radius: 2px;
}
.exemple6:hover {
  filter: blur(2px);
}
.exemple7 {
  background-color: #8f8f8f;
  justify-content: space-between;
  width: 210px;
  height: 210px;
  margin-top: 10px;
  transition-duration: 2s;
  margin-bottom: 50px;
  border-radius: 2px;
}
.exemple7:hover {
  filter: blur(2px);
}
.exemple8 {
  background-color: #636363;
  justify-content: space-between;
  width: 210px;
  height: 210px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-right: 94px;
  transition-duration: 2s;
  border-radius: 2px;
}
.exemple8:hover {
  filter: blur(2px);
}
/* ABOUT */
.about {
  background-color: #838383;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
/* top */
.topabout {
  display: flex;
  justify-content: space-between;
}
.titre {
  justify-content: end;
  font-size: 80px;
  font-weight: 300;
  color: #d9d9d9;
  margin-top: 70px;
  margin-left: 70px;
}
.gelly2 {
  justify-content: flex-end;
  width: 8%;
  height: 8%;
  margin-top: 85px;
  margin-right: 65px;
  rotate: -14deg;
}

/* mid page about */
.mid {
  display: flex;
  justify-content: space-between;
}
.cv {
  justify-content: space-between;
  width: 20%;
  height: 20%;
  margin-left: 150px;
  margin-bottom: 70px;
}
.linkedin {
  justify-content: space-between;
}
.twitch {
  justify-content: space-between;
  margin-right: 150px;
}
